<!-- nest tag form -->
<%= form_for [current_user, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <strong><%= f.label "Title:" %></strong>
  <%= f.text_field :title, placeholder: "title..." %>
</br>
  <strong><%= f.label "Content:" %></strong>
  <%= f.text_area :content, placeholder: "type post..." %>
</br>
  <h2><strong><%= f.label "Select or create your tags:" %></strong></h2><br> <!-- handle more than 3 with an alert in the create action -->

  <strong>Existing Tags:</strong> <%= f.collection_check_boxes :tag_ids, Tag.all[0...5], :id, :name %><br>
  <% if @user_created %>
    <p><strong>Your Created Tags:</strong> <%= f.collection_check_boxes :tag_ids, @user_created, :id, :name %></p></br>
  <% end %>
  </br>

  <strong>Create new tags:</strong>
   <%= f.fields_for :tag_attributes do |t| %>
    <p>Tag 1: <%= t.text_field :name_1, placeholder: "name" %></p>
  <% end %>

  <%= f.fields_for :tag_attributes do |t| %>
    <p>Tag 2: <%= t.text_field :name_2, placeholder: "name" %></p>
  <% end %>

  <%= f.fields_for :tag_attributes do |t| %>
    <p>Tag 3: <%= t.text_field :name_3, placeholder: "name" %></p>
  <% end %>

</br>
  <%= f.submit %>
<% end %>
