<h1>Awful post authored by <%= @post.user.name %>:</h1>
<h2><strong><%= @post.title %></strong></h2>
<p><strong>Content:</strong> <br> <%= @post.content %></p><br>
<% if @post.user_id == current_user.id %>
  <%= link_to "edit this post", edit_user_post_path(current_user, @post) %></br>
  <%= link_to "delete this post", user_post_path(@user, @post), method: "delete" %>
<% end %>
